<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search hacked database</title>
    <style>
    .myform {
      width: 300px;
      margin: 0 auto;
      font-family: Tahoma, Geneva, sans-serif;
    }
    .myform h1 {
      text-align: center;
      color: #4d4d4d;
      font-size: 24px;
      padding: 20px 0 20px 0;
    }
    .myform input[type="password"],
    .myform input[type="text"] {
      width: 100%;
      padding: 15px;
      border: 1px solid #dddddd;
      margin-bottom: 15px;
      box-sizing:border-box;
    }
    .myform input[type="search"] {
      width: 100%;
      padding: 15px;
      background-color: #535b63;
      border: 0;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: bold;
      color: #ffffff;
    }
    </style>
  </head>
  <body>
    <class="myform">
      <h1>Search hacked database</h1>
      <form action="/" method="POST">
        <div align="left">Query part of a known email...</div><br/>
        <div>          
          <a><input type="text" name="username" placeholder="e.g. john_doe" required /></a>
          <a><button type="submit" name="submitButton" value="Search">Search</button></a>
        </div><br/>
        <div id="searchedData"><%= searchedData %></div><br/>
        <div></div>
        <ul>
          <% for(var i=0; i<dbResult.length; i++) { %>
            <li>
              <%= dbResult[i].username +' : ' + dbResult[i].password %>
            </li>
          <% } %>
        </ul>
      </form>
  </body>
</html>