<!DOCTYPE html>
<html>
<head>
  <title>Got Hacked?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost:5000/css/style.css">
  <!-- <link rel="stylesheet" href="https://searchapp-7d623.firebaseapp.com/css/style.css"> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
  <span class="navbar-brand mb-0 h1"><i id="android" class="material-icons">android</i> Prototype v0.1</span>
  <button class="btn btn-info my-2 my-sm-0" type="submit">Logout</button>
</nav>
<nav class="navbar navbar-dark bg-dark fixed-bottom">
  <a id="link" class="navbar-brand" href="#">gothacked.tech</a>
</nav>

<div id="home">

  <!-- TITLE -->
  <div>
    <div class="landing-text">
      <i class="material-icons" style="font-size:48px;">no_encryption</i>
      <h1>Got hacked?</h1>
      <h2>Check in our public knowledge base if your credentials have been exposed.</h2>
    </div>
  </div>

  <!-- FROM --> 
  <div class="padding">
  <div class="container">
    <div class="row">
      <!-- INPUT --> 
      <div class="col-sm-6">
        <!-- <form action="https://us-central1-searchapp-7d623.cloudfunctions.net/app" method="POST"> -->
        <form action="http://localhost:5001/searchapp-7d623/us-central1/app" method="POST">
          <div class="form-group">
            
            <label  for="email">User to lookup</label>
            <input type="text" class="form-control" id="email" name="username" placeholder="...">
            <small id="emailHelp" class="form-text text-muted">Full (john_doe@gmail.com) or partial (john_doe) email/login </small>
         </div>
         <button type="submit" class="btn btn-info">Search</button>
        </form>  
      </div>
      <!-- RESULT --> 
      <div class="col-sm-6" text-center>
        <div class="search-output">
          <p><%= nbResult %><span id="bold"><%= searchedData %></span></p>
        </div>
        <ul id="list-group">
          <% for(var i=0; i<dbResult.length; i++) { %>
            <li class="list-group-item">
               <%= dbResult[i].username +' : ' + dbResult[i].password %>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>

</body>
</html>