html, body {
  height: 100%;
  width: 100%;
}

#home {
  /*background: url("https://searchapp-7d623.firebaseapp.com/media/white.jpg") no-repeat center center fixed; */
  background: url("http://localhost:5000/media/white.jpg") no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}

/*NAVBAR*/
#android {
  font-size: 17px;
  color: white;
}

#link{
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
}

/*TITLE*/
.landing-text {
  text-align: center;
  margin-top: 90px;
}

.landing-text h1 {
  font-size: 300%;
  font-weight: 700;  
}

.landing-text h2 {
  font-size: 120%;
  font-weight: 500;  
}

/*SEARCH*/
.padding {
   margin-top: 80px; 
}

.btn {
  margin-bottom: 30px; 
}

/*RESULT*/
.search-output {
  font-style: italic
}

#bold {
  font-size: 20px;
  font-weight: 650;
  color:#29B9D0
}

.list-group-item {
  font-size: 15px;
  line-height: 9px;
  margin-left:-30px;
}